html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #2F3143;
}

* {
  box-sizing: border-box;
}

#mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* opacity: 0.9; */
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

#mask.visible {
  display: block;
}

#mask .mask-panel {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

