.main {
  padding-bottom: 110px;
}

.banner {
  position: relative;
  background: #000216;
  width: 100%;
  height: 200px;
}

.banner-background {

}

.banner-content {

}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  left: 34px;
  bottom: 32px;
  width: 48px;
  height: 44px;
  opacity: 0.2;
  background-color: #8A92FF;
}
.circle2 {
  left: 52px;
  bottom: 28px;
  width: 36px;
  height: 33px;
  opacity: 0.2;
  background-color: #8A92FF;
}
.circle3 {
  top: 29px;
  right: -24px;
  width: 48px;
  height: 44px;
  opacity: 0.9;
  background-color: #00032E;
}
.circle4 {
  left: 98px;
  top: 72px;
  width: 19px;
  height: 19px;
  background-color: #2dd0ff;
}
.circle5 {
  top: 43px;
  right: 81px;
  width: 19px;
  height: 19px;
  background-color: #FF004E;
}

.txt-kdm {
  position: absolute;
  top: 38px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 50px;
}

.txt-kuai {
  font-size: 54px;
  font-family: Lantinghei SC Demibold, Lantinghei SC Demibold-Demibold;
  font-weight: bold;
  color: #2dd0ff;
}

.txt-dou {
  font-size: 54px;
  font-family: Lantinghei SC Demibold, Lantinghei SC Demibold-Demibold;
  font-weight: bold;
  color: #FFD200;
}

.txt-mao {
  font-size: 54px;
  font-family: Lantinghei SC Demibold, Lantinghei SC Demibold-Demibold;
  font-weight: bold;
  color: #FF004E;
}

.txt-hyxxjh {
  font-size: 41px;
  font-family: Lantinghei SC Demibold, Lantinghei SC Demibold-Demibold;
  font-weight: bold;
  color: #FFFFFF;
}

.introduction {
  padding: 0 15px;
  margin-top: 20px;
}

.introduction .section {
  margin-top: 34px;
}

.introduction .section:first-of-type {
  margin-top: 0;
}

.introduction .title {
  font-size: 16px;
  font-family: PingFang SC Regular, PingFang SC Regular-Regular;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.introduction .content {
  margin-top: 10px;
  font-size: 13px;
  font-family: PingFang SC Regular, PingFang SC Regular-Regular;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  line-height: 24px;
  text-indent: 1em;
}

.video-in-introduction {
  margin-top: 15px;
  padding: 0 50px;
  width: 100%;
}


.study-btn {
  margin-top: 60px;
  padding: 10px 12px;
  background-color: #FFCF00;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  font-family: PingFang SC Regular, PingFang SC Regular-Regular;
  font-weight: bold;
  text-align: center;
  color: #151515;
  margin-left: 50%;
  transform: translateX(-50%);
}
.study-btn:active {
  border: none;
  border-radius: 3px;
  outline: none;
}

.img-panel {
  /* background-color: #252627; */
  /* padding: 0 40px; */
  position: relative;
  overflow: hidden;
  line-height: 0;
}

.img-panel::after {
  content: " ";
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../image/bofang@2x.png') 100%/100% no-repeat;
}