.skeleton--animate {
  background-color: #f2f3f5;
  animation: skeleton-blink 1.2s ease-in-out infinite;
}
@keyframes skeleton-blink {
  50% {
    opacity: 0.6;
  }
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* 内容区 圆角白底框 */
.section-context {
  width: 90%;
  margin: 20px auto 0;
  padding: 10px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 8px;
}